body {
    background: #d0cfcf !important;
}

.title {
    margin: 1%;
    padding-left: 1%;
    color: #fb0763;
    font-family: Garamond, serif;
}

.build-automata {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 1%;
    padding: 1%;
    padding-left: 1%;
    background-color: white;
    border-radius: 20px;
}

.build-automata-form {
    padding: 1%;
}

.select-rule-cols-rows {
    margin-bottom: 10%;
}

.init-mode-radio {
    margin-left: 1%;
    margin-bottom: 10%;
    vertical-align: middle;
    display: inline-block;
}

.init-mode-radio label{
    margin-left: 1%;
    margin-bottom: 10%;
    vertical-align: middle;
    display: inline-block;
}

.eol-mode-radio {
    margin-left: 1%;
    margin-bottom: 10%;
}

.display-automata {
    display: inline-block;
    vertical-align: top;
    height: 750px;
    width: 75%;
    margin-left: 1%;
    margin-bottom: 1%;
    position: relative;
    background-color: white
}

#canvas {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#form-submit-btn {
    background-color: #fb0763;
    border: none;
    font-size: 20px;
    width: 95%;
    text-align: center;
}

#form-submit-btn:hover {
    background-color: black;
}

h4 {
    font-size: 20px !important;
}


